tr,th,td{
    text-align: left;
    border: 1px solid black;
    padding: 10px;
    width: 20%;

}
table
{
    border: 1px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px;
    padding: 20px;
    border-collapse : collapse;
    width: 50%;
}
th{
    background-color: rgb(231, 229, 229);
}
caption {
    padding-bottom: 10px; 
    font-size: 20px;
}